/* start pages */
.startform { 
	text-align: center;
	width: 100%;
	padding-top: 10%;
}

.form-button { 
	margin: 20px;
}

/* dashboard */

.row { 
	height: 350px;
}

.col-md-6 { 
	background-color: lightblue;
	border: 1px solid white;	
}

#carbon {
	background-color: #CC8400;
}

#forest {
	background-color: #228B22;
}

#animal { 
	background-color: red;
}

#grain { 
	background-color: yellow;
}

#economy { 
	background-color: grey;
}

.widget { 
	border: 3px solid white;
}

.col-md-4 { 
}


.resources {
	text-align: center;
}

